.container {
  border: 1px solid #f00;
  /*height: 200px;*/
  height: 70vh;
  background: url("ntust.gif");
  background-position: center;
  background-size: cover; /* make it proportional */
  margin-bottom: 50px;
  text-align: center;
}

h1 {
  color: #f00;
  font-size: 28px;
  border: 1px solid #0ff;
}

.title {
  color: yellow;
}

h3 {
  display: block;
  /*border: 1px solid #0f0;*/
  /*color: #f00;*/
}

p {
  display: block;
  /*border: 1px solid #0f0;*/
  color: #000;
  padding-bottom: 20px;
  line-height: 1.5em;
}

article {
  max-width: 600px;
  margin: 0 auto;
}
